<a href="https://colab.research.google.com/github/Arjun650/MachineLearning/blob/main/lab_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#test for lab_03 assignment
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:

data = pd.read_csv('./team01.csv')
print(data.head(10))

  Timestamp     Speaker                               Transcript      Label
0  00:00:02   Speaker 1                                Yes, Sir.  Statement
1  00:00:05   Speaker 1                                     And.  Statement
2  00:00:07   Speaker 1             Then we go to with that, OK.  Statement
3  00:00:10   Speaker 1                                 OK, Sir.  Statement
4  00:00:11   Speaker 1                                    Yeah.  Statement
5  00:00:13   Speaker 1           Itself is all new to yourself.  Statement
6  00:00:19   Speaker 2                                      OK   Statement
7  01:00:19   Speaker 1                                       OK  Statement
8  00:00:23   Speaker 2  Can you tell me name of one classifier?   Question
9  00:00:27   Speaker 3           Which is non linear in nature.   Question

In [3]:
data.columns

Index(['Timestamp', 'Speaker', 'Transcript', 'Label'], dtype='object')

In [4]:
data.isnull().sum()

Timestamp     0
Speaker       0
Transcript    0
Label         0
dtype: int64

In [11]:
statements = data[data['Label'] == 'Statement']
questions = data[data['Label'] == 'Question']
answers = data[data['Label'] == 'Answer']

sentiment_counts = data['Label'].value_counts(normalize=True)

sentiment_counts

Label
Statement    0.446154
Question     0.292308
Answer       0.261538
Name: proportion, dtype: float64